:root{
  overflow: hidden;
  width: 95dvw;
  height: 95dvw;
}
.container{
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 10px 20px;
  position: relative;
  background-color: rgb(26, 17, 17);
}
.sub-container{
  padding:100px 250px;
  background: linear-gradient(to right,rgb(163, 240, 193),rgb(160, 160, 221));
  box-shadow: 20px 20px 30px yellow;
  animation: colchange;
  animation-duration: 8s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  transition: transform 2s ease;
}
a{
  text-decoration: none;
  padding: 10px 20px;
   background-color:aliceblue;
   color: blue;
}
a:hover{
  background: blue;
  color: aliceblue;
}
@keyframes colchange{
  0%{
    color: rgb(154, 154, 240);
  }
  25%{
    color:whitesmoke
  }
  50%{
    color: green;
  }
  75%{
    color: purple;
  }
  100%{
    color: gold;
  }

}

.rainbow{
  position: absolute;
  z-index: 1;
  padding: 1px 1px;
  background-color: red;
  height: 5px;
  width: 5px;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  animation: rotate infinite;
  animation-duration: 3s;
}
.rainbow-right{
  position: absolute;
  z-index: 1;
  padding: 1px 1px;
  background-color: red;
  height: 5px;
  width: 5px;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  animation: rotate-right infinite;
  animation-duration: 4s;
}
.rainbow-top{
  position: absolute;
  z-index: 1;
  padding: 1px 1px;
  background-color: red;
  height: 5px;
  width: 5px;
  top: 0;
  right: -10%;
  border-radius: 50%;
  animation: rotate-top infinite;
  animation-duration: 3s;
  animation-delay: 3s;
}

@keyframes rotate {
  0%{
    
    background-color: rgb(154, 154, 240);
  }
  /* 25%{
    left: 25%;
    bottom: 25%;
    background-color:whitesmoke
  }
  50%{
    left: 50%;
    bottom: 50%;
    background: green;
  }
  75%{
    left: 75%;
    bottom: 75%;
    background: purple;
  } */
  100%{
    left: 100%;
    bottom: 100%;
    background: gold;
  }
}
@keyframes rotate-right {
  0%{
    background-color:rgb(154, 154, 240);
  }
  100%{
    right: 100%;
    bottom: 100%;
    background: gold
  }
}
@keyframes rotate-top {
  0%{
    background-color:rgb(154, 154, 240);
  }
  100%{
    right: 100%;
    top: 100%;
    background: gold
  }
}
@media screen and (max-width:1000px) {
  .container{
    width: 95dvw;
    height: 95dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .sub-container{
    padding: 0;
    width: fit-content;
    height: fit-content;
    list-style: none;
    text-align: left;
    font-size: large;
    overflow: scroll;
  }
  .sub-sub-container{
    width: fit-content;
    height: 100%;
  }
}