<div class="container">
<div class="sub-container">
  <div class="sub-sub-container">
    <h1>Educations:</h1>
    <ul>
      <li>Bachelor of Electrical and Electronics Engineering</li>
      <ul>
        <li>ACGCET, Karaikudi (2016 - 2020)</li>
        <li>CGPA: 6.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
      </ul><br>
      <li>High School (HSS Maths-Biology) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
      <ul>
        <li>A.G.N. MHSS, Salem (2015 - 2016)</li>
        <li>Percentage: 86%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
      </ul><br>
      <li>Secondary School (SSLC)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
      <ul>
        <li>K.R.P. MHSS, Namakkal (2013 - 2014)</li>
        <li>Percentage: 96.2%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
      </ul>
    </ul>
    
  </div>
</div><br>
<a href="">Back</a>
</div>
<div class="rainbow">

</div>
<div class="rainbow" style="bottom: 25%;">

</div><div class="rainbow" style="bottom: 50%;">

</div><div class="rainbow" style="bottom: 75%;">

</div>
<div class="rainbow" style="left: 25%;">

</div>
<div class="rainbow" style="left: 50%;">

</div><div class="rainbow" style="left: 75%;">

</div>
<div class="rainbow-right">

</div>
<div class="rainbow-right" style="bottom: 25%;">

</div><div class="rainbow-right" style="bottom: 50%;">

</div><div class="rainbow-right" style="bottom: 75%;">

</div>
<div class="rainbow-right" style="right: 25%;">

</div>
<div class="rainbow-right" style="right: 50%;">

</div><div class="rainbow-right" style="right: 75%;">

</div>
<div class="rainbow-top">

</div>
<div class="rainbow-top">
  
</div><div class="rainbow-top" style="top: 25%;">
  
</div><div class="rainbow-top" style="top: 50%;">
  
</div><div class="rainbow-top" style="top: 75%;">
  
</div><div class="rainbow-top" style="right: 25%;">
  
</div>