.container {
  width: 95dvw;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  align-items: center;
  margin: auto;
  padding: 10px 20px;
  background-color: rgb(0, 217, 255);
  color: aliceblue;
  animation: updown;
  animation-duration: 5s;
  overflow: hidden;
  flex-wrap: wrap;
}
.sub-contain {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.sub-contain a {
  text-decoration: none;
  color: aliceblue;
}
.sub-contain nav {
  position: relative;
}
.sub-contain nav a::after {
  content: "";
  width: 100%;
  border: 2px solid blue;
  position: absolute;
  left: 0;
  bottom: 12px;
  transform: scaleX(0);
  transition: transform 0.5s ease;
  transform-origin: right;
}
.sub-contain nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.sub-contain a:hover {
  color: red;
}
.sub-contain a:active {
  color: purple;
}
.content {
  width: 80%;
  height: 80%;
  margin: 200px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: -1;
}
.pic-content img {
  border: 5px solid blue;
  border-radius: 10px;
  width: 60%;
  height: 90%;

}
.name-content {
  width: 50%;
}
.name-content h1,button {
  animation: leftright;
  animation-duration: 5s;
}
.name-content p{
  animation: downup;
  animation-duration: 4s;
  overflow: hidden;
}
.pic-content {
  width: 70%;
  height: 70dvh;
  /* background-color: rgb(0, 217, 255); */
  align-items: center;
  text-align: center;
}
.pic-content img {
  animation: slide;
  animation-duration: 3s;
}
.icn a{
  padding: 10px 20px;
  font-size:xx-large;
  animation: downup;
  animation-duration: 4s;
}
.fa{
  padding: 8px;
  background-color:aliceblue;
  color: blue;
  border-radius: 40%;
  border: 1px solid blue;

}
.fa:hover{
  background-color:blue;
  color: aliceblue;
  border: 1px solid aliceblue;
}
.btn{
  padding: 10px 20px;
  background-color:aliceblue;
  color: blue;
  border-radius: 20%;
  border: 1px solid blue;
}
.btn:hover{
  background-color:blue;
  color: aliceblue;
  border: 1px solid aliceblue;
}
@keyframes slide {
  0% {
    right: -200vw;
    position: absolute;
  }
  25% {
    right: -150vw;
  }
  50% {
    right: -100vw;
  }
  75% {
    right: -50vw;
  }
  100% {
    position: relative;
    right: 0;
  }
}
@keyframes updown {
  0% {
    bottom: 200vh;
    position: absolute;

  }
  100% {
    position: relative;
    bottom: 0;
  }
}
@keyframes leftright {
  0% {
    right: 200vw;
    position: absolute;
  }
  25% {
    right: 150vw;
  }
  50% {
    right: 100vw;
  }
  75% {
    right: 50vw;
  }
  100% {
    position: relative;
    right: 0;
  }
}
@keyframes downup{
  0% {
    top: 200vw;
    position: absolute;
  }
  25% {
    top: 150vw;
  }
  50% {
    top: 100vw;
  }
  75% {
    top: 50vw;
  }
  100% {
    position: relative;
    top: 0;
  }
}

@media screen and (max-width:750px) {
  .container{
    background: linear-gradient(to top,rgb(218, 67, 67),rgb(20, 20, 34));
    display: block;
    width:fit-content;
    overflow: hidden;
  }
  .sub-contain{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  p{
    width: 97%;
    text-align: justify;
  }

  .content{
    flex-wrap: wrap-reverse;
    width: fit-content;
    margin: 50px auto;
  }
  .name-content{
    width: fit-content;
    text-align: justify;
  }
  .pic-content{
    width: fit-content;
    height: fit-content;
  }
  
}
.skil{
  overflow: hidden;
  height: min-content;
  position: relative;
}
.skill{
  position: relative;
  width: max-content;
  height: 50px;
  bottom: 0;
  overflow: hidden;

}
.skill h1{
  position: relative;
  animation: go infinite;
  animation-duration: 11s;
  bottom: 0;
  transition: all 6s ease;

}
.skill h1::after{
  content: "";
  width: fit-content;
  height: 100%;
  /* background:linear-gradient(to right,blue,white); */
  /* background: black; */
  position: absolute;
  z-index: -100;
  right: 0;
  /* border: 1px solid blue; */
  animation: llop infinite;
  animation-duration: 3s;
  animation-delay: 4s;
}
@keyframes llop {
  0%{
    width: 0;
    background: violet;
     
  }
  25%{
    width: 100%;
    background: indigo;

  }
  50%{
    width: 100%;
    background: rgb(188, 190, 166);

  }
  75%{
    width: 100%;
    background: white;

  }
  100%{
    width: 100%;
    background:yellow;
    
}}
@keyframes go {
  0%{
    bottom: 0;
    color: violet
     
  }
  25%{
    bottom: 50px;
    color: indigo;

  }
  50%{
    bottom: 100px;
    color: blue;

  }
  75%{
    bottom: 150px;
    color: green;

  }
  100%{
    bottom: 200px;
    animation-delay: 4s;
    color: purple;
  }
}