<div class="container">
  <nav>
    <h1>Sanjeevidharan K</h1>
  </nav>
  <div class="sub-contain">
    <nav><a href=""><h3>Home</h3></a></nav>
    <nav><a href="home"><h3>Education</h3></a></nav>
    <nav><a href="experience"><h3>Experience</h3></a></nav>
    <nav><a href="contact"><h3>Contact</h3></a></nav>
  </div>
</div>
<section >
  <div class="content">
    <div class="name-content" style="text-align: left;">
      <p >Hello,</p>
      <h1>I am &nbsp;<b style="color: aqua;"> Sanjeevidharan Krishnan</b></h1>
       <p>
       I am a <span class="skil"><div class="skill"><h1>Web Developer</h1><h1>Angular Developer</h1><h1>Python-Odoo Developer</h1><h1>Full Stack Developer</h1><h1>Front End Developer</h1></div> </span>
       </p>
       <p>
        Results-driven Odoo Python and Angular Developer with expertise in building and enhancing Odoo modules for seamless business operations. Proficient in Python programming, Angular frameworks, and front-end technologies, delivering user-centric applications with an eye for detail. Strong problem-solving abilities combined with effective communication skills to drive project success and exceed client expectations.
       </p>
       <div class="icn" style="width: 100%;">
        <a href="https://github.com/SanjeevidharanK" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/sanjeevidharan-krishnan-5955a6211/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="mailto:sanjeeevidharan.krishnan@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
       </div><br>
       <button class="btn" (click)="downloadResume()">Download Resume</button>

    </div>
    <div class="pic-content">
      <img src="../assets/profile.png" alt="profile-img">
    </div>
  </div>
</section>