<div class="container">
  <div class="sub-container">
    <section>
      <h1>Odoo ERP Implementation for [Offer Letter Generation Workflow]</h1>
      <ul>
        <li>* Technologies: Python, Odoo, Postgres</li>
        <li>* Created dynamic salary compensation slips and generated PDFs with terms and conditions.</li>
      </ul>
    </section>
    <section>
      <h1>Odoo ERP Implementation for [Payslip Customization]</h1>
      <ul>
        <li>* Technologies: Python, Odoo, Postgres</li>
        <li>* Generated salary structures and rules dynamically during the compute sheet action.</li>
      </ul>
    </section>
    <section>
      <h1>Odoo ERP Implementation for [Helpdesk Feedback and Email]</h1>
      <ul>
        <li>* Technologies: Python, Odoo, Postgres</li>
        <li>* Managed ticket statuses and notifications with email integration.</li>
      </ul>
    </section>
    <section>
      <h1>Odoo ERP Implementation for [Helpdesk Ticket Customization]</h1>
      <ul>
        <li>* Technologies: Python, Odoo, Postgres</li>
        <li>* Created a cron job for automatic closure of inactive tickets and allowed customer closure of tickets.</li>
      </ul>
    </section>
  </div>
</div>
<div class="back">
  <a [routerLink]="['/experience']" style="position: fixed;padding: 8px 12px;bottom:3%;right: 3%;background-color: wheat;text-decoration: maroon;">Back</a>
</div>