<div class="ang">
   
  <div class="content">
    <h1>Angular 13 Implementation for [Student Form]</h1>
  <ul style="list-style:disc;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: x-large;color: rgb(19, 19, 22);text-align: left;">
    <li>Technologies: Angular, TypeScript, HTML, CSS</li>
    <li>Created a form for students with required fields.</li>
    <li>Created JSON services to store values.</li>
    <li>Used RESTful API methods (Get, Put, Delete) for operations.</li>

  </ul>
  </div>
  <div class="content">
    <h1>Technolgies Used in this Implementation</h1>
  <ul style="list-style:none;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: x-large;color: rgb(19, 19, 22);text-align: center;">
    <span style="position: absolute; left: 0;">0%</span>
    <span style="position: absolute; right: 0;">100%</span>
    
    <li class="anch" style="cursor: pointer;color: violet;padding: 1px 2px;" title="100%">GitHub</li>
    <span class="pgbar" style="cursor: pointer;" title="100%"></span>
    <span style="display: block;margin: 10px auto; color: violet;">{{hunt}}%</span>
    <li style="cursor: pointer;color:indigo;padding: 1px 2px;">Angular</li>
    <span class="pgbar1" style="cursor: pointer;" title="100%"></span>
    <span style="display: block;margin: 10px auto; color: indigo;">{{hunt}}%</span>
    <li style="cursor: pointer;color: blue;padding: 1px 2px;" >TypeScript</li>
    <span class="pgbar2" style="cursor: pointer;" title="100%"></span>
    <span style="display: block;margin: 10px auto; color: blue;">{{hunt}}%</span>
    <li style="cursor: pointer;color: green;padding: 1px 2px;">HTML</li>
    <span class="pgbar3" style="cursor: pointer;" title="60%"></span>
    <span style="display: block;margin: 10px auto; color: green;">{{sixt}}%</span>

    <li style="cursor: pointer;color: yellow;padding: 1px 2px;">CSS</li>
    <span class="pgbar4" style="cursor: pointer;" title="60%"></span>
    <span style="display: block; color: yellow;margin: 10px auto;">{{sixt}}%</span>
  </ul>
  </div>
</div>
<div class="back">
  <a [routerLink]="['/experience']" style="position: fixed;padding: 8px 12px;bottom:3%;right: 3%;background-color: wheat;text-decoration: maroon;">Back</a>
</div>