/* You can add global styles to this file, and also import other style files */
body{
  height: 100dvh;
  width: fit-content;
  background:linear-gradient(to bottom,blue,white);
  background-repeat: no-repeat;
  overflow-x: hidden;
}
li{
  background: linear-gradient(to right,purple,teal);
  background-clip: text;
  color: transparent;
}